@font-face {
    font-family: 'ivi';
    src: url('../src/fonts/iviSans-Regular.eot');
    src: url('../src/fonts/iviSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/iviSans-Regular.woff') format('woff'),
        url('../src/fonts/iviSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ivi black';
    src: url('../src/fonts/iviSans-Black.eot');
    src: url('../src/fonts/iviSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/iviSans-Black.woff') format('woff'),
        url('../src/fonts/iviSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ivi medium';
    src: url('../src/fonts/iviSans-Medium.eot');
    src: url('../src/fonts/iviSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/iviSans-Medium.woff') format('woff'),
        url('../src/fonts/iviSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ivi bold';
    src: url('../src/fonts/iviSans-Bold.eot');
    src: url('../src/fonts/iviSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/iviSans-Bold.woff') format('woff'),
        url('../src/fonts/iviSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Neucha';
    src: url('../src/fonts/Neucha.eot');
    src: url('../src/fonts/Neucha.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Neucha.woff') format('woff'),
        url('../src/fonts/Neucha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}